* {
  --secondary-color: limegreen;
  --font-stack: 'MesloLGM Nerd Font Mono', monospace;
  --mono-font-stack: 'MesloLGM Nerd Font Mono', monospace;
  --background-color: #1a1a1a;
  margin: 0 auto;
  font-size: calc(10px + 1vmin);
  color: limegreen;
}

h1.title, h1.title * {
  font-size: calc(10px + 4vmin);
}

p.subtitle, p.subtitle *, h2.heading, h2.heading * {
  font-size: calc(10px + 2vmin);
}

p.copyright, p.copyright * {
  font-size: calc(10px + 0.5vmin);
}

.App-footer div.socials a i {
  font-size: 24px;
}

.App-footer div.socials a {
  margin: 0 0.3em 0 0;
}

.App {
  padding: 0 0.3em;
  background-color: #1a1a1a;
  min-height: 100vh;
}

a.link {
  text-decoration: underline;
}

.socials a:focus i.fab, .socials a:hover i.fab {
  outline: none;
  color: var(--primary-color);
  background: var(--background-color);
}

ul.project-list a.project-item-link:focus, ul.project-list a.project-item-link:hover, .link-button:focus, .link-button:hover {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
  background-color: var(--primary-color);
}
