.links {
  margin-bottom: 20px;
  align-items: left; /* Align items to the start (left) */
  /* OR */
  /* justify-content: left; /* Alternative way to align left */
}

.link-button {
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  font-size: 16px;
  border: limegreen 1px solid;
  color: lime;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
}

.link-button.active {
  font-weight: bold;
}

.content-pane {
  border: 1px solid limegreen;
  padding: 20px;
}

ul.project-list {
  list-style: none;
  display: grid;
  place-items: stretch;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media screen and (min-width: 600px) {
  ul.project-list {
    list-style: none;
    display: grid;
    place-items: stretch;
    grid-template-columns: repeat(3, 1fr);
  }
}

ul.project-list li.project-item {
  padding: 10px;
  height: 100%;
}

.date {
  font-size: 0.8em;
  color: #AAA;
}

header > a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
